{min_otp_version, "19.0"}.

{profiles, [
    {test,
     [{erl_opts, [nowarn_export_all, nowarn_deprecated_function]}]}
]}.

{deps, [
    {lager, "~>3.5"},
    {partisan, "1.3.2"},
    {amqp_client, "3.6.14"},
    {rabbit_common, "3.6.14"}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.